- UserPresenter.present(@user,self) do |presenter|
  = presenter.user_listing_tag do
    %h1= @user.name
    %small
      =presenter.user_id
    %h2= presenter.user_email
    %p.small=presenter.user_roles
