@import '_variables';

#container.container {
  padding-bottom: $footerHeight * 2;
}

footer {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: $footerBackground;
  min-height: $footerHeight;
  padding-top: 2em;
  padding-right: 2em;
  box-shadow: 0px -1px 2px black;
  .copyright, .locales { 
    font-family: $footerFontFamily; 
    font-size: $footerFontSize;
  }
}

.locales {
  padding-left: 2em;
  display: inline-block;
  float: left;
}
