@import "_variables";

.form.form-vertical {
  label.boolean {
    display: inline-block;
    font-family: $btnFontFamily;
    font-size: $btnFontSize;
    margin-bottom: 0.75em;
    margin-left: 0.75em;
    width: auto;
  }
}

.form-horizontal {
  .input {
    clear: both;
    margin-bottom: 0.5em;
  }
  label {
    font-family: $btnFontFamily;
    display: inline-block;
    width: 30%;
  }
  input {
    margin-left: 7%;
    width: 60%;
  }

  .roles-check-boxes {
    max-width: 40px;
  }

  .hint {
    margin-left: 37%;
    color: $lightTextColor;
    font-size: $btnFontSize;
    font-family: $btnFontFamily;
  }

  .field_with_errors {
    input {
      border: 1px solid $alertColor;
    }
    .error {
      font-size: $btnFontSize * 0.75;
      font-family: $btnFontFamily;
      color: $alertColor;
      float: right;
      padding: 0px;
      margin: 0px;
    }
  }

}

.form-vertical {

  .field_with_errors {
    input {
      border: 1px solid $alertColor;
    }
    .error {
      font-size: $btnFontSize * 0.75;
      font-family: $btnFontFamily;
      color: $alertColor;
      padding: 0px;
      margin: 0px;
      margin-bottom: 2em;
      display: block;
    }
  }
}
