@import '_variables';

.list-entry {
  display: block-inline;
  clear: both;
  font-size: $bigListFontSize;
  line-height: 110%;
}

ul.item-list {
  margin-left: 0px;
}

li.list-entry {
  clear: both;
  list-style: none;
  text-indent: 0px;
  margin: 0px;
  padding-bottom: 0.25em;
  padding-left: 0px;
  &:hover {
    background: $hoverBackground;
  }
}
