@import "_variables";

img.avatar {
    width: 3em;
    height: 3em;
    border-radius: 2em;
    padding: 0.2em;
    background: white;
    border: 0.2em solid $standardShadowColor;
}

td.avatar {
    width: 3.25em;
    height: 3.25em;
}

td.buttons {
  min-width: 10em;
  text-align: center;
}

#user-list {
  font-family: $btnFontFamily;
  font-size:   $btnFontSize;

  ul {
    list-style: none;
    margin-left: 0px;
    width: 100%;

    li {
      display: block;
      padding: 0.5em;
      min-height: 2em;
      baseline: bottom;

      .name-and-email {
        display: inline-block;
        .user-name {
          display: inline-block;
        }
        .user-email {
          display: block;
        }
      }
      .email-confirmed-at {
        display: inline;
        font-size: smaller;
      }
    }

    li:nth-child(even) {
      background: $tableEvenBackground;
    }

    li:nth-child(odd) {
      background: $tableOddBackground;
    }
  }
}
