@import "_variables";

#user-list {
  font-family: $btnFontFamily;
  font-size:   $btnFontSize;

  ul {
    list-style: none;
    margin-left: 0px;
    width: 100%;

    li {
      display: block;
      padding: 0.5em;
      min-height: 2em;
      baseline: bottom;

      .name-and-email {
        display: inline-block;
        .user-name {
          display: inline-block;
          min-width: 250px;
        }
        .user-email {
          display: inline-block;
        }
      }
      .roles {
        margin-top: -0.75em;
        padding: 0px;
        font-size: $smallNoteFontSize;
      }
    }

    li:nth-child(even) {
      background: $tableEvenBackground;
    }

    li:nth-child(odd) {
      background: $tableOddBackground;
    }
  }
}
