@import 'bootstrap';
@import '_variables';

footer {
  background: $navbarBackground;
  min-height: $navbarHeight;
  padding-top: 2em;
  box-shadow: -1px 0px 2px black;
  * font-family: $serifFontFamily;
  font-size: $fontSizeSmall;
}
