/* 
  Define Bootstrap-variables.
  See: http://getbootstrap.com/2.3.2/customize.html#variables 
*/

$sansFontFamily:     Georgia, Times new roman, Times, serif;
$headingsFontFamily: Verdana, 'Helvetica neue', Helvetica, Arial, sans-serif;


$footerBackground: #ddd;
$footerHeight: 5em;
$footerFontFamily: Verdana, 'Helvetica neue', Helvetica, Arial, sans-serif;
$footerFontSize: 0.8em;

