.container
  .row
    .span6
      .locales
        = render 'layouts/locales'
    .span6
      .pull-right.copyright
        &copy;
        = t('site.copyright.year')
        = link_to t('site.copyright.owner'), t('site.copyright.url')
